body {
    padding: 50px;
    display:flex;
    flex-flow: column;
    font-family: 'Fira Sans', sans-serif;
}


#mobile1,#mobile2 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}

#mobile1{
    display:grid;
    grid-template-rows:10% auto 7% 21%;
}

.header {
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows:20% 20% 20% 10% 10% 20% ;
}

h2{
    margin-top: 35px;
    text-align: left;
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1em;
    grid-column-start:2;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:2;
    /*margin-bottom: 20px;*/
}

#temp {
    text-align: left;
    font-weight: 1000;
    font-size: 140px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #dcdcdc;
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start:1;
    grid-row-end:6;
    
}
#plot1{
    margin-bottom:20px;
}
#weeklyIcons1{
    
    display:grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
    padding-left:35px;
    
}
#weeklyIcons1 img{
    width:20px;
    height:auto;
    border:0px;
    padding:0px;
}
.footer{
    display:grid;
    grid-template-columns: 20% 10% 10% 10% 5% 5% 5% 5% 10% 20%;
    grid-template-rows:20% 20% 20% 20% 20%;
    text-align:right
}

#summary{
    margin-top:0px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14pt;
    font-weight: 100;
    grid-column-start:3;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:2;
    align-self:right;
   
}
#tempDirection{
    width:20px;
    height:20px;
    border: 0px;
    grid-column-start:6;
    grid-column-end: 6;
    grid-row-start:2;
    grid-row-end:2;
    align-self:left;
}
.row img {
     width: 414px;
     height: 736px;
     border:1px solid;
}

.sketches img{
    width:40%;
    
}



.sketches{
    margin-top: 40px;
}

.weekWeather .lines {
    stroke:#f9c784;
    stroke-width: 20px;
    
}
.weekWeather .currentRect {
    fill:#ff8c42;
    stroke-width: 2px;
}

.axis-y path {
    display: none;
}

.axis-x path{
    stroke:#FCAF58;
    stroke-dasharray: 5,5; 
    stroke-width:5px;
}


#mobile2{
    display:grid;
    grid-template-rows:7% 6% 29% 29% 29%;
   
}

#mobile2 img{
    border:0px;
    width:10px;
    height: 10px
}


#mobile2 p{
     writing-mode: vertical-lr;
     text-orientation: upright;
     text-transform: uppercase;
     font-weight: 300;
    
}
#header2{ 
    margin-top:10px;
    margin-bottom:10px;
    padding-left:10px;
    padding-right: 10px;
    border-bottom: 1px solid;
    grid-row-start:1;
    grid-row-end:1;
    text-align: center;
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1em;
    display:grid;
    grid-template-columns: 50% 25% auto;
}


#location{
    grid-column-start:1;
    grid-column-end: 1;
    
}

#time{
    grid-column-start:2;
    grid-column-end: 2;
}
#headerTemp{
    grid-column-start:3;
    grid-column-end: 3;
}
#weeklyIcons{
    
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding-left:20px;
    border-bottom: 1px solid;
    
}
#weeklyIcons img{
    width:30px;
    height:auto;
}

#wind2{
    display:grid;
    grid-row-start:3;
    grid-row-end:3;
    border-bottom: 1px solid;
    padding-top:10px;
    padding-bottom: 10px;
    grid-template-columns: 30% auto;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    
}
#windText{
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start:4;
    grid-row-end:5;
    
}
#wind2 img{
    width:150px;
    height:auto;
    grid-column-start:2;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:8;
   
    
}
#wind2 img:hover{
    cursor: default;
    transform: rotateY(130deg);
    transition: all 0.3s ease-in-out 0s;
}

#temp2{
    
    grid-row-start:4;
    grid-row-end:4;
    border-bottom: 1px solid;
    padding-top:10px;
    padding-bottom: 10px;
    display:grid;
    grid-template-columns: 39% auto;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
#tempText{
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start:4;
    grid-row-end:5;
    
}
#temperature2{
    
}
#temp2 img{
    width:100px;
    height:auto;
    grid-column-start:2;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end:8;
}
#weather2{
    
    grid-row-start:5;
    grid-row-end:5;
    display:grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
#weatherText{
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start:4;
    grid-row-end:5;
    
}
#weather2 img{
    width:120px;
    height:auto;
    grid-column-start:2;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end:8;
    
}

}
