body {
    padding: 50px;
    display:flex;
    flex-flow: column
}


#mobile1,#mobile2 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}

.row img {
     width: 414px;
     height: 736px;
     border:1px solid;
}

.sketches img{
    width:40%;
    
}

.sketches{
    margin-top: 40px;
}